<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OT Coffee - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="/static/img/otcoffe.png" type="image/x-icon">
</head>
<body>
    <header>
        <div class="container">
            <div class="img-ot">
                <img src="/static/img/otcoffe.png" alt="Gambar Ot Coffee">
            </div>
            <nav>
                <ul>
                    {% if 'username' in session %}
                        <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                        <li><a href="{{ url_for('predict') }}">Prediksi Permintaan</a></li>
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <main class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2025 OT Coffee Kendari. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>